/* Base styles, fonts & colors */
:root {
    --buttonbg: #101010;
    --bg: #121212;
    --surface: #1e1e1e;
    --ink: #ffffff;
    --muted: #b3b3b3;
    --accent: #3f7540;
    --radius: 16px;
    --btnradius: 50px;
    --transition: 0.25s ease;
    --mini-surface: #222;
    --border-line-muted: #444444;
    --font-size-factor: 1;
    --font-family-accessibility: Inter;
}

html[data-theme="light"] {
    --buttonbg: #f0f0f0;
    --bg: #dededede;
    --surface: #fff;
    --mini-surface: #eee;
    --ink: #161616;
    --muted: #5a5a5a;
    --border-line-muted: #e5e5e5;
    /* accent blijft overschrijfbaar; komt uit settings */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--font-family-accessibility);
    background: var(--bg);
    color: var(--ink);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: var(--ink);
    text-decoration: none;
    transition: color var(--transition);
}

a:hover {
    color: var(--accent);
}

.btn {
    display: inline-block;
    padding: 0.75em 1.25em;
    border-radius: var(--btnradius);
    background: var(--accent);
    color: #fff;
    font-weight: 500;
    transition: background var(--transition);
    border: none;
    cursor: pointer;
}

.btn--primary {
    background: var(--accent);
    color: var(--ink);
}

.btn--primary:hover {
    background: var(--accent);
}